//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-flex;
	min-width: rem(150);
	//height: rem(60);
	padding: rem(15) rem(20);
	font-size: rem(14);
	font-weight: 700;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	text-align: center;
	color: #3d3935;
	border: 3px solid #e0c6ad;
	border-radius: rem(15);
	background-color: #ffe9d4;
	transition: all 0.3s ease;
	justify-content: center;
	&_no-bg {
		background: none;
		color: #ffe9d4;
	}

	@media (any-hover: hover) {
		&:hover {
			//border: 3px solid #ffe9d4;
			transform: translateY(-2px);
			box-shadow: 0 10px 15px 0 rgba(218, 192, 167, 0.5);
		}
	}
	&._fw {
		width: 100%;
	}
}
